<div class="container">

    <div class="headline">
        <span class="headline-logo-till-w110px"><img src="./assets/img/login/logo.png" alt="logo">
            <p>DABubble</p>
        </span>
        <span class="headline-logo-under-w1110px" (click)="toggleMenuVisibility()">
            <p style="width: 2px;">
                < </p><img src="/assets/img/mainboard/channelname.png" alt="">
                    <p>Code learning</p>
        </span>

        <span class="headline-span-input">
            <input type="text" placeholder="Code learning durchsuchen" (keyup)="search()" [(ngModel)]="searchTerm">

            <div class="searchResults" *ngIf="searchTerm">
                <h2>Mitglieder</h2>
                <ul>
                    <li *ngFor="let user of filteredUserArray" (click)="selectUserSearchfield(user.username)">
                        <img  class="imgHeadline" src="{{user.img}}" alt="Profile Image">
                        <p>{{ user.username }}</p>
                    </li>
                    <li
                        *ngIf="searchTerm && filteredUserArray && filteredUserArray.length === 0 && searchTerm.length >= 1">
                        Kein Mitglied gefunden
                    </li>
                </ul>
                <h2>Channels</h2>
                <ul>
                    <li *ngFor="let channel of filteredChannelsArray" (click)="selectChannelSearchfield(channel.channelName)">
                        <p style="padding-bottom: 8px;" >#{{ channel.channelName }}</p>
                    </li>
                    <li
                        *ngIf="searchTerm && filteredChannelsArray && filteredChannelsArray.length === 0 && searchTerm.length >= 1">
                        Kein Kanal gefunden
                    </li>
                </ul>
            </div>
        </span>
        <span class="hover-img" (click)="openProfile();overlayBackroundColor()">
            <p>{{loggedInUserName}}</p><img style="width:80px; height:80px; border-radius: 100px; object-fit: cover;"
                src="{{loggedInUserImg}}" alt="profile-image">
            <img class="hide-under-980px" src="./assets/img/mainboard/keyboard_arrow_down.png" alt="arrow down">
        </span>

    </div>

    <div class="content-container">

        <app-menu *ngIf="toggleMenu" class="menu-container" #menu></app-menu>

        <div class="chat" *ngIf="chatContent">

            <div class="chat-headline-container">
                <span class="headline-left-span" (click)="openCreateChannelPopUp();overlayBackroundColor()">
                    <app-edit-channel *ngIf="toggleEditChannel"></app-edit-channel>
                    <p>#</p>
                    <p>{{selectedChannelTitle}}</p><img src="/assets/img/mainboard/keyboard_arrow_down.png"
                        alt="arrow-down">
                </span>
                <span class="headline-right-span">
                    <div class="headline-right-span-contacts" (click)="openAddMembersPopUp(); overlayBackroundColor()">
                        <img src="/assets/img/signup/avatar1.png" alt="" class="headline-avatars ml0">
                        <img src="/assets/img/signup/avatar1.png" alt="" class="headline-avatars">
                        <img src="/assets/img/signup/avatar1.png" alt="" class="headline-avatars">
                        <app-members-mainboard-headline *ngIf="toggleEditMembers"></app-members-mainboard-headline>
                    </div>
                    <p>3</p>
                    <img (click)="openAddNewMembersWindow(); overlayBackroundColor()"
                        src="/assets/img/mainboard/person_add.png" alt="" class="headline-add-button">
                    <app-add-members-mainboard-headline
                        *ngIf="toggleAddNewMembers"></app-add-members-mainboard-headline>
                </span>
            </div>


            <div class="chat-content">
                <div class="start-chat">
                    <h2>Dies ist der Anfang vom Channel #{{selectedChannelTitle}}</h2>
                    <p>{{selectedChannelDescription}}</p>
                </div>
                <div class="chat-seperator-with-date">
                    <span class="seperator-chat"></span>
                    <span class="date-chat">{{ getFormattedDate()}}</span>
                    <span class="seperator-chat"></span>
                </div>

                <div *ngIf="selectedChannelContent.length > 0">
                    <div *ngFor="let channel of selectedChannelContent; let i = index"
                        (mouseenter)="showPopupForThread($event, i)" (mouseleave)="hidePopupForThread()">
                        <app-popup-for-thread #popup
                            *ngIf="isPopupForThreadVisible && hoveredChannelIndex === i"></app-popup-for-thread>
                        <div style="display: flex;">
                            <div class="avatar-chat-history"><img src="/assets/img/signup/avatar5.png" alt=""></div>
                            <div class="message-chat-history">
                                <div class="headline-message-history">
                                    <h3>{{channel.data.from}}</h3>
                                    <p> {{channel.data.timestamp}} Uhr</p>
                                </div>
                                <div class="message-history">{{channel.data.message}}</div>

                                <div class="reactions-container">

                                    <span class="reactions" (mouseenter)="showPopupForReactions($event)"
                                        (mouseleave)="hidePopupForReactions()">
                                        <app-popup-reactions #popup
                                            *ngIf="isPopupForReactionsVisible && hoveredChannelIndex === i"></app-popup-reactions>
                                        <p style="position: absolute; left: 10px">{{reactionEmoji}}</p>
                                        <p style="position: absolute; right: 17px">1</p>
                                    </span>

                                    <span><app-emoji-picker></app-emoji-picker></span>
                                </div>
                                <div class="answers-message-history">
                                    <span (click)="showThread()">{{channel.data.answers}} Antworten</span><span>Letzte
                                        Antwort 17:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-seperator-with-date">
                            <span class="seperator-chat"></span>
                            <span class="date-chat"> Mittwoch, 08 November</span>
                            <span class="seperator-chat"></span>
                        </div>
                    </div>
                </div>



                <div class="my-message-chat">
                    <div class="my-message-chat-history">
                        <div class="my-headline-message-history">
                            <p> 16:30 Uhr</p>
                            <h3>Frederik Beck</h3>
                        </div>
                        <div class="my-message-history">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                            nemo blanditiis adipisci officiis veniam odit, nulla numquam, ipsa exercitationem eaque
                            facere, maxime laboriosam quia reprehenderit mollitia dicta iste. Aut, ea.</div>
                        <div class="my-reactions-container">

                            <span class="reactions" (mouseenter)="showPopupForReactions($event)"
                                (mouseleave)="hidePopupForReactions()">
                                <app-popup-reactions #popup *ngIf="isPopupForReactionsVisible"></app-popup-reactions>
                                <img src="/assets/img/mainboard/rocketEmoji.png" alt="">
                                <p> 1 </p>
                            </span>
                            <span class="reactions">
                                <img src="/assets/img/mainboard/checkEmoji.png" alt="">
                                <p> 1 </p>
                            </span>
                            <span class="add-reaction"><img src="/assets/img/mainboard/add_reaction.png" alt=""></span>
                        </div>
                    </div>
                    <div class="avatar-chat-history"><img src="/assets/img/signup/avatar2.png" alt=""></div>
                </div>
            </div>

            <div class="chat-message-inputfield">
                <input type="text" placeholder="Nachricht an #{{selectedChannelTitle}}">
                <div class="chat-message-options">
                    <span class="imgHoverInput">
                        <img src="/assets/img/mainboard/add_plus.png" alt="">
                        <span class="seperator-send-message"></span>
                        <img src="/assets/img/mainboard/smile_add_message.png" alt="">
                        <img src="/assets/img/mainboard/atsymbol_add_message.png" alt="">
                    </span>
                    <span class="sendButtonImg">
                        <img src="/assets/img/mainboard/send.png" alt="">
                    </span>

                </div>

            </div>

        </div>




        <div class="chat" *ngIf="directMessageContent">

            <div class="chat-headline-container">
                <span class="headline-left-span">
                    <img class="imgHeadline" src="{{selectedUserDirectMessageImage}}" alt="">
                    <p>{{selectedUserDirectMessageName}}</p>
                </span>
            </div>
            <div class="chat-content">
            </div>

            <div class="directMessageContent">
                <div class="directMessageContact">
                    <img class="directMessageImg" src="{{selectedUserDirectMessageImage}}" alt="">
                    <p>{{selectedUserDirectMessageName}}</p>
                </div>
                <p class="directMessageInfo">Diese Unterhaltung findet nur zwischen @{{selectedUserDirectMessageName}}
                    und dir statt.</p>
            </div>

            <div class="chat-message-inputfield">
                <input type="text" placeholder="Nachricht an #{{selectedUserDirectMessageName}}">
                <div class="chat-message-options">
                    <span class="imgHoverInput">
                        <img src="/assets/img/mainboard/add_plus.png" alt="">
                        <span class="seperator-send-message"></span>
                        <img src="/assets/img/mainboard/smile_add_message.png" alt="">
                        <img src="/assets/img/mainboard/atsymbol_add_message.png" alt="">
                    </span>
                    <span class="sendButtonImg">
                        <img src="/assets/img/mainboard/send.png" alt="">
                    </span>

                </div>

            </div>

        </div>



        <div class="chat" *ngIf="menuSearchfieldChat">

            <div class="searchfield-chat">
                <h2>Neue Nachricht an:</h2>
                <input type="text" placeholder="Channel,Person oder E-Mail Adresse" (keyup)="searchfieldAtChat()" [(ngModel)]="searchTermMenu">
            </div>
            <div class="chat-content p40" *ngIf="searchTermMenu">
                <h2 style="padding-bottom: 16px;">Mitglieder</h2>
                <ul class="ls-none">
                    <li class="listSearchfieldMenuChat" *ngFor="let user of filteredUserArrayMenu" (click)="selectUserSearchfield(user.username)">
                        <img class="imgHeadline" src="{{user.img}}" alt="Profile Image">
                        <p>{{ user.username }}</p>
                    </li>
                    <li
                        *ngIf="searchTermMenu && filteredUserArrayMenu && filteredUserArrayMenu.length === 0 && searchTermMenu.length >= 1">
                        Kein Mitglied gefunden
                    </li>
                </ul>
                <h2 style="padding-bottom: 16px;">Channels</h2>
                <ul class="ls-none">
                    <li  class="listSearchfieldMenuChat" *ngFor="let channel of filteredChannelsArrayMenu" (click)="selectChannelSearchfield(channel.channelName)">
                        <p style="padding-bottom: 16px;">#{{ channel.channelName }}</p>
                    </li>
                    <li
                        *ngIf="searchTermMenu && filteredChannelsArrayMenu && filteredChannelsArrayMenu.length === 0 && searchTermMenu.length >= 1">
                        Kein Kanal gefunden
                    </li>
                </ul>
            </div>

        </div>



        <app-thread *ngIf="toggleThread" #thread class="thread-container"></app-thread>


        <div class="workspace-menu" (click)="toggleMenuVisibility()" *ngIf="toggleMenu">
            <p>Workspace-Menü schließen</p><img src="/assets/img/mainboard/show_menu.png" alt="">
        </div>
        <div class="workspace-menu" (click)="toggleMenuVisibility()" *ngIf="!toggleMenu">
            <p>Workspace-Menü öffnen</p><img src="/assets/img/mainboard/show_menu.png" alt="">
        </div>
    </div>

</div>

<div *ngIf="toggleBackground" class="background-color" (click)="closeWindow()"></div>
<app-profile-details *ngIf="toggleProfile"></app-profile-details>
<app-profil-view *ngIf="toggleProfileView"></app-profil-view>