<div class="container">

    <div class="headline">
        <span class="headline-logo-till-w110px"><img src="./assets/img/login/logo.png" alt="logo">
            <p>DABubble</p>
        </span>
        <span class="headline-logo-under-w1110px" (click)="toggleMenuVisibility()">
            <p style="width: 2px; cursor: pointer;">
                < </p><img src="/assets/img/mainboard/channelname.png" alt="">
                    <p>Code learning</p>
        </span>

        <span class="headline-span-input">
            <app-headline-input-search></app-headline-input-search>
        </span>

        <span class="hover-img" (click)="openProfile();overlayBackroundColor()">
            <p>{{loggedInUserName}}</p><img class="logged-in-user-img" src="{{loggedInUserImg}}" alt="profile-image">
            <img class="hide-under-980px" src="./assets/img/mainboard/keyboard_arrow_down.png" alt="arrow down">
        </span>
    </div>

    <div class="content-container">

        <app-menu *ngIf="toggleMenu" class="menu-container" #menu></app-menu>

        <div class="chat" *ngIf="chatContent">

            <div class="chat-headline-container">
                <span class="headline-left-span" (click)="openChangeChannelPopUp();overlayBackroundColor()">
                    <app-edit-channel *ngIf="toggleEditChannel"></app-edit-channel>
                    <p>#</p>
                    <p>{{selectedChannelTitle}}</p><img src="/assets/img/mainboard/keyboard_arrow_down.png"
                        alt="arrow-down">
                </span>
                <span class="headline-right-span">
                    <div class="headline-right-span-contacts" (click)="openAddMembersPopUp(); overlayBackroundColor()">
                        <img *ngFor="let member of selectedChannelMembersArray" src="{{member.img}}" alt=""
                            class="headline-avatars">
                        <app-members-mainboard-headline *ngIf="toggleEditMembers"></app-members-mainboard-headline>
                    </div>
                    <p>3</p>
                    <img (click)="openAddNewMembersWindow(); overlayBackroundColor()"
                        src="/assets/img/mainboard/person_add.png" alt="" class="headline-add-button">
                    <app-add-members-mainboard-headline
                        *ngIf="toggleAddNewMembers"></app-add-members-mainboard-headline>
                </span>
            </div>

            <div class="chat-content">
                <div class="start-chat">
                    <h2>Dies ist der Anfang vom Channel #{{selectedChannelTitle}}</h2>
                    <p>{{selectedChannelDescription}}</p>
                </div>
                <div>
                <app-message-from-user></app-message-from-user>
                </div>
                <app-message-from-logged-in-user></app-message-from-logged-in-user>
            </div>

            <div class="chat-message-inputfield">
                <app-inputfield-normail-chat></app-inputfield-normail-chat>
            </div>

        </div>

        <div class="chat" *ngIf="directMessageContent">
            <div class="chat-headline-container">
                <span class="headline-left-span">
                    <img class="imgHeadline" src="{{selectedUserDirectMessageImage}}" alt="">
                    <p>{{selectedUserDirectMessageName}}</p>
                </span>
            </div>
            <div class="chat-content-private">
                <app-private-message-content></app-private-message-content>
            </div>

            <div class="chat-message-inputfield">
                <app-inputfield-private-channel></app-inputfield-private-channel>
            </div>
        </div>


        <div class="chat" *ngIf="menuSearchfieldChat">
            <app-menu-input-search></app-menu-input-search>
        </div>

        <app-thread *ngIf="toggleThread" #thread class="thread-container"></app-thread>

        <div class="workspace-menu" (click)="toggleMenuVisibility()" *ngIf="toggleMenu">
            <p>Workspace-Menü schließen</p><img src="/assets/img/mainboard/show_menu.png" alt="">
        </div>
        <div class="workspace-menu" (click)="toggleMenuVisibility()" *ngIf="!toggleMenu">
            <p>Workspace-Menü öffnen</p><img src="/assets/img/mainboard/show_menu.png" alt="">
        </div>
    </div>

</div>

<div *ngIf="toggleBackground" class="background-color" (click)="closeWindow()"></div>
<app-profile-details *ngIf="toggleProfile"></app-profile-details>
<app-profil-view *ngIf="toggleProfileView"></app-profil-view>