<div class="container">

    <div class="headline">
        <span class="headline-logo-till-w110px"><img src="./assets/img/login/logo.png" alt="logo">
            <p>DABubble</p>
        </span>
        <span class="headline-logo-under-w1110px" (click)="toggleMenuVisibility()">
            <p style="width: 2px;">
                < </p><img src="/assets/img/mainboard/channelname.png" alt="">
                    <p>Code learning</p>
        </span>

        <span class="headline-span-input">
            <input type="text" placeholder="Code learning durchsuchen" (keyup)="search()" [(ngModel)]="searchTerm">

            <div class="searchResults" *ngIf="searchTerm">
                <h2>Mitglieder</h2>
                <ul>
                    <li *ngFor="let user of filteredUserArray" (click)="selectUserSearchfield(user.username)">
                        <img class="imgHeadline" src="{{user.img}}" alt="Profile Image">
                        <p>{{ user.username }}</p>
                    </li>
                    <li
                        *ngIf="searchTerm && filteredUserArray && filteredUserArray.length === 0 && searchTerm.length >= 1">
                        Kein Mitglied gefunden
                    </li>
                </ul>
                <h2>Channels</h2>
                <ul>
                    <li *ngFor="let channel of filteredChannelsArray"
                        (click)="selectChannelSearchfield(channel.channelName)">
                        <p style="padding-bottom: 8px;">#{{ channel.channelName }}</p>
                    </li>
                    <li
                        *ngIf="searchTerm && filteredChannelsArray && filteredChannelsArray.length === 0 && searchTerm.length >= 1">
                        Kein Kanal gefunden
                    </li>
                </ul>
            </div>
        </span>
        <span class="hover-img" (click)="openProfile();overlayBackroundColor()">
            <p>{{loggedInUserName}}</p><img class="logged-in-user-img" src="{{loggedInUserImg}}" alt="profile-image">
            <img class="hide-under-980px" src="./assets/img/mainboard/keyboard_arrow_down.png" alt="arrow down">
        </span>
    </div>

    <div class="content-container">

        <app-menu *ngIf="toggleMenu" class="menu-container" #menu></app-menu>

        <div class="chat" *ngIf="chatContent">

            <div class="chat-headline-container">
                <span class="headline-left-span" (click)="openChangeChannelPopUp();overlayBackroundColor()">
                    <app-edit-channel *ngIf="toggleEditChannel"></app-edit-channel>
                    <p>#</p>
                    <p>{{selectedChannelTitle}}</p><img src="/assets/img/mainboard/keyboard_arrow_down.png"
                        alt="arrow-down">
                </span>
                <span class="headline-right-span">
                    <div class="headline-right-span-contacts" (click)="openAddMembersPopUp(); overlayBackroundColor()">
                        <img *ngFor="let member of selectedChannelMembersArray" src="{{member.img}}" alt=""
                            class="headline-avatars">
                        <app-members-mainboard-headline *ngIf="toggleEditMembers"></app-members-mainboard-headline>
                    </div>
                    <p>3</p>
                    <img (click)="openAddNewMembersWindow(); overlayBackroundColor()"
                        src="/assets/img/mainboard/person_add.png" alt="" class="headline-add-button">
                    <app-add-members-mainboard-headline
                        *ngIf="toggleAddNewMembers"></app-add-members-mainboard-headline>
                </span>
            </div>

            <div class="chat-content">
                <div class="start-chat">
                    <h2>Dies ist der Anfang vom Channel #{{selectedChannelTitle}}</h2>
                    <p>{{selectedChannelDescription}}</p>
                </div>
                <div>

                    <div *ngFor="let channel of selectedChannelContent; let i = index"
                        (mouseenter)="showPopupForThread($event, i)" (mouseleave)="hidePopupForThread()">

                        <div class="chat-seperator-with-date" *ngIf="channel.data.from != loggedInUserName">
                            <span class="seperator-chat"></span>
                            <span class="date-chat">{{ channel.data.messageTime.toDate() | date:'longDate' }}</span>
                            <span class="seperator-chat"></span>
                        </div>

                        <div style="position: relative;"><app-popup-for-thread
                                *ngIf="isPopupForThreadVisible && hoveredChannelIndex === i"></app-popup-for-thread>
                        </div>
                        <div style="display: flex;" *ngIf="channel.data.from != loggedInUserName">
                            <div class="avatar-chat-history"><img [src]="getImgFromAnswerUser(channel.data.from)"
                                    alt="">
                            </div>
                            <div class="message-chat-history">
                                <div class="headline-message-history">
                                    <h3>{{channel.data.from}}</h3>
                                    <p> {{channel.data.timestamp}} Uhr</p>
                                </div>
                                <div class="message-history">{{channel.data.message}}
                                    <div *ngIf="channel.data.messageImg != ''"><img class="message-history-img"
                                            src="{{channel.data.messageImg}}" alt=""></div>
                                </div>

                                <div class="reactions-container">

                                    <span class="reactions" (mouseenter)="showPopupForReactions($event)"
                                        (mouseleave)="hidePopupForReactions()">
                                        <app-popup-reactions
                                            *ngIf="isPopupForReactionsVisible && hoveredChannelIndex === i"></app-popup-reactions>
                                        <p style="position: absolute; left: 10px">{{reactionEmoji}}</p>
                                        <p style="position: absolute; right: 17px">1</p>
                                    </span>

                                    <span><app-emoji-picker></app-emoji-picker></span>
                                </div>
                                <div class="answers-message-history">
                                    <span (click)="showThread()">{{channel.data.answers}} Antworten</span><span>Letzte
                                        Antwort {{channel.lastAnswer}}</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div *ngFor="let channel of selectedChannelContent; let i = index"
                    (mouseenter)="showPopUpForEditComment($event, i)" (mouseleave)="hidePopUpForEditComment()">
                    <div class="chat-seperator-with-date" *ngIf="channel.data.from == loggedInUserName">
                        <span class="seperator-chat"></span>
                        <span class="date-chat">{{ channel.data.messageTime.toDate() | date:'longDate' }}</span>
                        <span class="seperator-chat"></span>
                    </div>
                    <div class="popUp-div"><app-popup-edit-comment
                            *ngIf="editCommentPopUp && hoveredChannelIndex == i && (channel.data.from == loggedInUserName)"></app-popup-edit-comment>
                    </div>
                    <div class="my-message-chat">
                        <div class="my-message-chat-history" *ngIf="channel.data.from == loggedInUserName">
                            <div class="my-headline-message-history">
                                <h3>{{channel.data.from}}</h3>
                                <p> {{channel.data.timestamp}} Uhr</p>
                            </div>

                            <div *ngIf="!channel.editComment && (channel.data.from == loggedInUserName)"
                                class="my-message-history">
                                {{channel.data.message}}
                                <div *ngIf="channel.data.messageImg != ''"><img class="message-history-img"
                                        src="{{channel.data.messageImg}}" alt=""></div>
                            </div>
                            <div *ngIf="channel.editComment && hoveredChannelIndex === i && (channel.data.from == loggedInUserName)"
                                class="my-message-history">
                                <div class="editComment-div"><input required class="editCommentInputfield" type="text"
                                        value="{{channel.data.message}}" #newChangedMessage>
                                    <div *ngIf="channel.data.messageImg.length > 38">
                                        <img class="message-history-img" src="{{channel.data.messageImg}}" alt=""
                                            #delImgEditComment>
                                        <button (click)="deleteImgEditComment()">X</button>
                                    </div>
                                </div>
                                <p *ngIf="errorMessageCommentChange" class="error-message">Die Nachricht ist leer</p>
                                <div class="btn-container"><button
                                        (click)="saveCommentChange(channel.id, i)">Speichern</button><button
                                        (click)="closeEditComment(i)">Abbrechen</button></div>
                            </div>

                            <div class="my-reactions-container">
                                <span class="reactions" (mouseenter)="showPopupForReactions($event)"
                                    (mouseleave)="hidePopupForReactions()">
                                    <app-popup-reactions #popup
                                        *ngIf="isPopupForReactionsVisible"></app-popup-reactions>
                                    <p style="position: absolute; left: 10px">{{reactionEmoji}}</p>
                                    <p style="position: absolute; right: 17px">1</p>
                                </span>

                                <span><app-emoji-picker></app-emoji-picker></span>
                            </div>
                            <div class="answers-message-history">
                                <span (click)="showThread()">{{channel.data.answers}} Antworten</span><span>Letzte
                                    Antwort {{channel.lastAnswer}}</span>
                            </div>
                        </div>
                        <div class="my-avatar-chat-history" *ngIf="channel.data.from == loggedInUserName"><img
                                [src]="getImgFromAnswerUser(selectedChannelContent[0]['data']['from'])" alt=""></div>
                    </div>
                </div>

                <div class="display-Members" *ngIf="displayMembers">
                    <ul>
                        <li *ngFor="let user of userArray; let i = index"
                            (click)="selectedNameIntoInputfield(user.username)">
                            <img src="{{user.img}}" alt="add">
                            <p>{{user.username}}</p>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="chat-message-inputfield">
                <input type="text" placeholder="Nachricht an #{{selectedChannelTitle}}" #newCommentValue>
                <p *ngIf="displayUploadMessage" class="upload-message" #uploadmessage style="padding-left: 2%;"></p>
                <div *ngIf="showNewCommentImg" class="newImg-div"><img src="{{selectedUrl}}" alt=""><button
                        (click)="deleteNewImgInComment()">X</button>
                </div>
                <div class="chat-message-options">
                    <span class="imgHoverInput">
                        <div>
                            <input type="file" class="inputImgUpload" #fileInput (change)="uploadImg($event)">
                            <img src="/assets/img/mainboard/add_plus.png" alt="" (click)="triggerFileInput()">
                        </div>
                        <span class="seperator-send-message"></span>
                        <img src="/assets/img/mainboard/smile_add_message.png" alt="">
                        <img (click)="toogleDisplayAllChannelMembers()"
                            src="/assets/img/mainboard/atsymbol_add_message.png" alt="">
                    </span>
                    <span class="sendButtonImg">
                        <img (click)="newCommentInSelectedChannel()" src="/assets/img/mainboard/send.png" alt="">
                    </span>

                </div>

            </div>

        </div>

        <div class="chat" *ngIf="directMessageContent">
          <app-private-message></app-private-message>
        </div>


        <div class="chat" *ngIf="menuSearchfieldChat">
            <div class="searchfield-chat">
                <h2>Neue Nachricht an:</h2>
                <input type="text" placeholder="Channel,Person oder E-Mail Adresse" (keyup)="searchfieldAtChat()"
                    [(ngModel)]="searchTermMenu">
            </div>
            <div class="chat-content p40" *ngIf="searchTermMenu">
                <h2 style="padding-bottom: 16px;">Mitglieder</h2>
                <ul class="ls-none">
                    <li class="listSearchfieldMenuChat" *ngFor="let user of filteredUserArrayMenu"
                        (click)="selectUserSearchfield(user.username)">
                        <img class="imgHeadline" src="{{user.img}}" alt="Profile Image">
                        <p>{{ user.username }}</p>
                    </li>
                    <li
                        *ngIf="searchTermMenu && filteredUserArrayMenu && filteredUserArrayMenu.length === 0 && searchTermMenu.length >= 1">
                        Kein Mitglied gefunden
                    </li>
                </ul>
                <h2 style="padding-bottom: 16px;">Channels</h2>
                <ul class="ls-none">
                    <li class="listSearchfieldMenuChat" *ngFor="let channel of filteredChannelsArrayMenu"
                        (click)="selectChannelSearchfield(channel.channelName)">
                        <p style="padding-bottom: 16px;">#{{ channel.channelName }}</p>
                    </li>
                    <li
                        *ngIf="searchTermMenu && filteredChannelsArrayMenu && filteredChannelsArrayMenu.length === 0 && searchTermMenu.length >= 1">
                        Kein Kanal gefunden
                    </li>
                </ul>
            </div>

        </div>

        <app-thread *ngIf="toggleThread" #thread class="thread-container"></app-thread>

        <div class="workspace-menu" (click)="toggleMenuVisibility()" *ngIf="toggleMenu">
            <p>Workspace-Menü schließen</p><img src="/assets/img/mainboard/show_menu.png" alt="">
        </div>
        <div class="workspace-menu" (click)="toggleMenuVisibility()" *ngIf="!toggleMenu">
            <p>Workspace-Menü öffnen</p><img src="/assets/img/mainboard/show_menu.png" alt="">
        </div>
    </div>

</div>

<div *ngIf="toggleBackground" class="background-color" (click)="closeWindow()"></div>
<app-profile-details *ngIf="toggleProfile"></app-profile-details>
<app-profil-view *ngIf="toggleProfileView"></app-profil-view>