
    <div class="content">
        <div class="headline">
            <h2>Mitglieder</h2>
            <img src="/assets/img/create-channel/close.png" alt="" (click)="closeAddMembersPopUp($event)">
        </div>
        <div class="members">
            <ul>
                <li><img src="/assets/img/signup/avatar6.png" alt="add">Frederik Beck (Du)</li>
                <li><img src="/assets/img/signup/avatar1.png" alt="add">Sofia Müller</li>
                <li><img src="/assets/img/signup/avatar2.png" alt="add">Noah Braun</li>
                <li><img src="/assets/img/signup/avatar3.png" alt="add">Elise Roth</li>
                <li><img src="/assets/img/signup/avatar4.png" alt="add">Elias Neumann</li>
                <li><img src="/assets/img/signup/avatar5.png" alt="add">Steffen Hoffmann</li>
            </ul>
        </div>
        <div class="add-member">
            <img src="/assets/img/mainboard/person_add.png" alt=""><p>Mitglieder hinzufügen</p>
        </div>
    </div>
