
    <div class="content">
        <div class="headline">
            <h2>Mitglieder</h2>
            <img class="img" src="/assets/img/create-channel/close.png" alt="" (click)="closeAddMembersPopUp($event)">
        </div>
        <div class="members">
            <ul>
                <li><img src="{{mainboard.selectedChannelMembersArray[0].img}}" alt="add">{{mainboard.selectedChannelMembersArray[0].member}}(Du)</li>
                <li *ngFor="let user of mainboard.selectedChannelMembersArray.slice(1) "><img class="img" src="{{user.img}}" alt="add">{{user.member}}</li>
                
            </ul>
        </div>
        <div class="add-member" (click)="handleAddMembersClick($event)">
            <img src="/assets/img/mainboard/person_add.png" alt=""><p>Mitglieder hinzufügen</p>
        </div>
    </div>
