
    <div class="content">
        <div class="headline">
            <h2>Mitglieder</h2>
            <img class="img" src="/assets/img/create-channel/close.png" alt="" (click)="closeAddMembersPopUp($event)">
        </div>
        <div class="members">
            <ul>
                <li><img src="{{loggedInUserImg}}" alt="add">{{loggedInUserName}}(Du)</li>
                <li *ngFor="let user of userArray"><img class="img" src="{{user.img}}" alt="add">{{user.username}}</li>
                
            </ul>
        </div>
        <div class="add-member">
            <img src="/assets/img/mainboard/person_add.png" alt=""><p>Mitglieder hinzufügen</p>
        </div>
    </div>
