<input type="text" placeholder="Nachricht an #{{mainboard.selectedChannelTitle}}" #newCommentValue (keyup.enter)="newCommentInSelectedChannel()">
<p *ngIf="displayUploadMessage" class="upload-message" #uploadmessage style="padding-left: 2%;"></p>
<div *ngIf="showNewCommentImg" class="newImg-div"><img src="{{mainboard.selectedUrl}}" alt=""><button
        (click)="deleteNewImgInComment()">X</button>
</div>
<div class="chat-message-options">
    <span class="imgHoverInput">
        <div>
            <input type="file" class="inputImgUpload" #fileInput (change)="uploadImg($event)">
            <img src="/assets/img/mainboard/add_plus.png" alt="" (click)="triggerFileInput()">
        </div>
        <span class="seperator-send-message"></span>
        <span><app-emoji-picker-inputfield></app-emoji-picker-inputfield></span>
        <img (click)="toogleDisplayAllChannelMembers()"
            src="/assets/img/mainboard/atsymbol_add_message.png" alt="">
    </span>
    <span class="sendButtonImg" (click)="newCommentInSelectedChannel()">
        <img  src="/assets/img/mainboard/send.png" alt="">
    </span>

</div>


<div class="display-Members" *ngIf="displayMembers">
    <ul>
        <li *ngFor="let user of mainboard.userArray; let i = index"
            (click)="selectedNameIntoInputfield(user.username)">
            <img src="{{user.img}}" alt="add">
            <p>{{user.username}}</p>
        </li>
    </ul>
</div>
