.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @media(max-width: 665px) {
        position: relative;
        padding: 165px 24px;
        height: unset;
    }

    @media(max-height: 1220px) {
        position: relative;
        padding: 165px 24px;
        height: unset;
    }
}

.headline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;

    @media(max-width: 665px) {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 795px;
        padding: 0px 50px;
    }

    @media(max-height: 1220px) {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 795px;
        padding: 0px 50px;
    }

    span {
        padding: 75px;

        @media(max-width: 665px) {
            padding: 50px 0px;
        }
    }

    :first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        :nth-child(2) {
            font-size: 24px;
            font-weight: 800;
        }
    }


}

.headline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 46px;
        color: #444DF2;
        padding-bottom: 40px;

        @media(max-width: 665px) {
            font-size: 32px;
        }

        @media(max-width: 485px){
            text-align: center;
          
        }
    }

    p {
        text-align: center;
    }

    @media(max-width: 665px) {
        font-size: 17px;
    }
}

.signup-container {
    position: relative;
    background-color: #FFFFFF;
    max-height: 475px;
    max-width: 700px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    padding: 24px;

    div {
        width: 90%;
    }

    @media(max-width: 665px) {
        font-size: 17px;
    }
}

.inputfields-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    input {
        width: 100%;
        padding: 18px 40px;
        border-radius: 30px;
        height: 30px;
        background-color: #ECEEFE;
        outline: none;
        text-indent: 20px;
        font-size: 18px;
        background-image: url('/assets/img/login/mail.png');
        background-repeat: no-repeat;
        background-position: 4%;
        border: 1px solid white;
        transition: border ease-in-out 200ms;

        &:hover {
            border: 1px solid #797EF3;
        }

        @media(max-width: 665px) {
            padding: 18px 10px;
        }

    }

    input::placeholder {
        padding-left: 30px;
        font-size: 18px;

        @media(max-width: 665px) {
            font-size: 17px;
            padding-left: 15px;
        }

        @media(max-width: 665px) {
            font-size: 15px;
          
        }
    }

    p {
        width: 60%;
        text-align: center;

        @media(max-width: 665px) {
           width: unset;
        }
    }

    @media(max-width: 665px) {
        font-size: 17px;
    }
}

.btn-container {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding-top: 40px;

    button {
        cursor: pointer;
        width: 155px;
        height: 50px;
        font-size: 18px;
        border: none;
        border-radius: 25px;
        background-color: #444DF2;
        color: white;
        padding: 12px 25px;
        transition: background-color ease-in-out 200ms;

        &:hover {
            background-color: #797EF3;
        }

        
        @media(max-width: 665px) {
            width: 150px;
            font-size: 15px;
            justify-content: center;
        }
    }

    @media(max-width: 665px) {
       
        justify-content: center;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-top: 100px;
    font-size: 18px;

    a {
        text-decoration: none;
        cursor: pointer;
        color: #797EF3;

    }
}

.arrow {
    position: absolute;
    left: 25px;
    top: 45px;
    cursor: pointer;

    &:hover {
        filter: invert(54%) sepia(48%) saturate(4557%) hue-rotate(215deg) brightness(102%) contrast(91%);
        transform: scale(1.2);
    }

   
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 18px;


    a {
        text-decoration: none;
        cursor: pointer;
        color: #797EF3;
        border: 1px solid #ECEEFE;
        border-radius: 30px;
        padding: 4px 8px;
        transition: transform ease-in-out 200ms, border-color ease-in-out 200ms;

        &:hover {
            transform: scale(1.1);
            border-color: #797EF3;
        }

    }
}