<div class="container">
    <div class="content">
        <div class="headline">
            <h3>Profil</h3>
            <button> X </button>
        </div>
        <div class="img-cont">
           <div><img src="./assets/img/signup/avatar1.png" alt="Profil-Image"></div>
        </div>
        <div class="info">
            <h2>Steffen Hoffmann</h2>
            <div class="status">
                <p>O</p>
                <p>Aktiv</p>
            </div>
            <div class="email">
                <span><img src="./assets/img/profile-view/mail.png" alt=""></span>
                <span style="margin-top: -5px;">
                    <h3>E-Mail-Adresse</h3>
                    <p>thehoffman@beispiel.com</p>
                </span>
            </div>
        </div>
        <button class="message-btn"><img src="./assets/img/profile-view/mode_comment.png" alt=""> Nachricht</button>

    </div>
</div>