<div class="container">
    <div class="content">
        <div class="headline">
            <h3>Profil</h3>
            <img (click)="mainboard.closeWindow()" src="./assets/img/create-channel/close.png" alt="">
        </div>
        <div class="img-cont">
           <div><img src="{{loggedInUserImg}}" alt="Profil-Image"></div>
        </div>
        <div class="info">
            <h2>{{loggedInUserName}}</h2>
            <div class="status">
                <p>O</p>
                <p>Aktiv</p>
            </div>
            <div class="email">
                <span><img src="./assets/img/profile-view/mail.png" alt=""></span>
                <span style="margin-top: -5px;">
                    <h3>E-Mail-Adresse</h3>
                    <p>{{loggedInUserEmail}}</p>
                </span>
            </div>
        </div>
    </div>
</div>