<div class="container">
    <div class="content">
        <div class="headline">
            <h2>Profil</h2>
            <img (click)="mainboard.closeWindow()" src="./assets/img/create-channel/close.png" alt="">
        </div>
        <div class="img-cont">
            <div><img src="{{loggedInUserImg}}" alt="Profile-Image"></div>
        </div>
        <div class="info">
            <div class="info-headline">
                <h2>{{loggedInUserName}}</h2>
            </div>
            <p *ngIf="errormessage" class="error-message">Bitte geben Sie einen Namen ein.</p>
            <div class="email">
                <span><img src="./assets/img/profile-view/mail.png" alt=""></span>
                <span style="margin-top: -5px;">
                    <h3>E-Mail-Adresse</h3>
                    <p>{{loggedInUserEmail}}</p>
                </span>
            </div>
        </div>
    </div>
</div>