.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px 0px 20px 20px;
    position: absolute;
    width: 350px;
    height: 360px;
    background-color: white !important;
    color: black;
    top: 90px;
    right: 80px;
    z-index: 10;
    padding: 16px;
    gap: 32px;

    div {
        width: 100%;
    }
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        cursor: pointer;
        transition: transform 200ms ease-in-out;


        &:hover {
            filter: invert(54%) sepia(48%) saturate(4557%) hue-rotate(215deg) brightness(102%) contrast(91%);
            transform: scale(1.1);
        }
    }
}


.img-cont {
    display: flex;
    justify-content: center;

    div {
        width: 150px !important;
        height: 150px;
        display: flex;
        border-radius: 30px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.status {
    display: flex;
    gap: 8px;
    color: lightgreen;
}

.email {
    display: flex;
    gap: 8px;
}

.message-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    gap: 10px;
    color: white;
    background-color: #444DF2;
    border: none;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    &:hover {
        background-color: #797EF3;
    }

}