
    <div class="content">
        <div class="headline">
            <h2>Leute hinzufügen</h2>  <img src="/assets/img/create-channel/close.png" alt="" (click)="closeAddNewMembersWindow($event)">
        </div>
        <div class="channel"><b>#</b> <p>{{mainboard.selectedChannelTitle}}</p></div>
        <div class="input-div">
            <input type="text" placeholder="Name eingeben" (keyup)="addMemberToChannelSearch()" [(ngModel)]="mainboard.searchTermChannelMember" #input>
        </div>
        <div class="button-div">
        
            <button (click)="toogleSureContainer()">Hinzufügen</button>
        </div>
        <div class="searchfield" *ngIf="mainboard.searchTermChannelMember && mainboard.searchTermChannelMember.length >= 1">
            <ul>
                <li *ngFor="let member of mainboard.filteredMemberArray" (click)="selectMember(member.username)">
                <img src="{{member.img}}" alt="">
                <p>{{member.username}}</p>
                </li>
            </ul>
        </div>
        <div class="sure-message-container" *ngIf="sureContainer">
            <div class="sure-message-content">
                <h1>Sicher?</h1>
                <div class="btn-container"><button (click)="addMemberToChannel(); toogleSureContainer()">Ja</button><button (click)="toogleSureContainer()">Nein</button></div>
            </div>
        </div>
    </div>
