
.content {
    position: absolute;
    top: 75px;
    right: 50px;
    min-width: 415px;
    max-height: 410px;
    background-color: white;
    border-radius: 20px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    z-index: 5;
    font-size: 18px;

    h2{
        font-size: 24px;
    }

    @media(max-width: 980px){
        min-width: unset;
        max-height: unset;
        border-radius: 0;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: -100px;

    }
}

.headline{
    display: flex;
    justify-content: space-between;
    
    img{
        width: 16px;
        height: 16px;
        cursor: pointer;
    
        &:hover{
            filter: invert(54%) sepia(48%) saturate(4557%) hue-rotate(215deg) brightness(102%) contrast(91%);
            transform: scale(1.1);
        }
    }
}

.channel{
    display: flex;
    gap:5px;
    color: #535AF1;
    font-size: 18px;

    b{
        padding-right: 4px;
    }
}

.input-div {
    border: 1px solid #ADB0D9;
    padding: 18px 20px;
    border-radius: 40px;

    input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 18px;
    }
}

.button-div{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;

    button{
        border: none;
        background-color: #444DF2;
        color: white;
        max-width: 200px;
        height: 50px;
        padding: 12px 25px;
        border-radius: 25px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color ease-in-out 200ms;

        &:hover{
            background-color: #797EF3;
            
        }
    }
}