<div class="thread-container">
    <div class="thread-headline-container">
        <div>
            <h3>Thread</h3>
            <p># {{selectedChannelTitle}}</p>
        </div>
        <img (click)="closeThread()" src="/assets/img/create-channel/close.png" alt="">
    </div>


    <div class="thread-content">
        <div class="chat-history">
            <div class="padding-thread-avatar"><img [src]="getImgFromAnswerUser(selectedChannel[selectedThreadID]['data']['from'])" alt=""></div>
            <div class="message-chat-history">
                <div class="headline-message-history">
                    <h3>{{selectedChannel[selectedThreadID]['data']['from']}}</h3>
                    <p> 16:30 Uhr</p>
                </div>
                <div class="message-history">{{selectedChannel[selectedThreadID]['data']['message']}}</div>
            </div>
        </div>

        <div class="thread-seperator-container">
            <p>{{selectedChannel[selectedThreadID]['data']['answers']}} Antworten</p> <span class="seperator-thread"></span>
        </div>

        <div class="chat-history" *ngFor="let answerTextMessage of selectedChannel[selectedThreadID]['data']['answerText']; let i = index ">
            <div class="padding-thread-avatar"><img [src]="getImgFromAnswerUser(selectedChannel[0]['data']['answerFrom'][i])" alt=""></div>
            <div class="message-chat-history">
                <div class="headline-message-history">
                    <h3>{{selectedChannel[0]['data']['answerFrom'][i]}}</h3>
                    <p>{{selectedChannel[0]['data']['answerTime'][i]}} Uhr</p>
                </div>
                <div class="message-history">{{answerTextMessage}}</div>
                <div class="reactions-container">
                    <span class="reactions"><img  src="/assets/img/mainboard/rocketEmoji.png" alt="">
                        <p> 1 </p>
                    </span>
                    <span class="reactions"><img src="/assets/img/mainboard/checkEmoji.png" alt="">
                        <p> 1 </p>
                    </span>
                    <span class="add-reaction"><img src="/assets/img/mainboard/add_reaction.png" alt=""></span>
                </div>
            </div>
        </div>

        <div class="my-message-chat">
            <div class="my-message-chat-history">
                <div class="my-headline-message-history">
                    <p> 16:30 Uhr</p>
                    <h3>Noah Braun</h3>
                </div>
                <div class="my-message-history">Ich wusste es doch!</div>
                <div class="reactions-container">
                    <span class="reactions"><img src="/assets/img/mainboard/rocketEmoji.png" alt="">
                        <p> 1 </p>
                    </span>
                    <span class="reactions"><img src="/assets/img/mainboard/checkEmoji.png" alt="">
                        <p> 1 </p>
                    </span>
                    <span class="add-reaction"><img src="/assets/img/mainboard/add_reaction.png" alt=""></span>
                </div>
            </div>
            <div class="padding-thread-avatar"><img src="/assets/img/signup/avatar2.png" alt=""></div>
        </div>


    </div>


    <div class="chat-message-inputfield">
        <input type="text" placeholder="Antworten...">
        <div class="chat-message-options">
            <span>
                <img src="/assets/img/mainboard/add_plus.png" alt="">
                <span class="seperator-send-message"></span>
                <img src="/assets/img/mainboard/smile_add_message.png" alt="">
                <img src="/assets/img/mainboard/atsymbol_add_message.png" alt="">
            </span>
            <span>
                <img src="/assets/img/mainboard/send.png" alt="">
            </span>

        </div>

    </div>

</div>