<div class="thread-container">
    <div class="thread-headline-container">
        <div>
            <h3>Thread</h3>
            <p># {{selectedChannelTitle}}</p>
        </div>
        <img (click)="closeThread()" src="/assets/img/create-channel/close.png" alt="">
    </div>


    <div class="thread-content">
        <div class="chat-history">
            <div class="padding-thread-avatar"><img [src]="getImgFromAnswerUser(selectedChannel[selectedThreadID]['data']['from'])" alt=""></div>
            <div class="message-chat-history">
                <div class="headline-message-history">
                    <h3>{{selectedChannel[selectedThreadID]['data']['from']}}</h3>
                    <p> {{selectedChannel[selectedThreadID]['data']['timestamp']}} Uhr</p>
                </div>
                <div class="message-history">{{selectedChannel[selectedThreadID]['data']['message']}}</div>
            </div>
        </div>

        <div class="thread-seperator-container">
            <p>{{selectedChannel[selectedThreadID]['data']['answers']}} Antworten</p> <span class="seperator-thread"></span>
        </div>

        <div *ngFor="let answerTextMessage of selectedChannel[selectedThreadID]['data']['answerText']; let i = index">
        <div class="chat-history">
            <div *ngIf="selectedChannel[selectedThreadID]['data']['answerFrom'][i] != mainboard.loggedInUserName" class="padding-thread-avatar"><img [src]="getImgFromAnswerUser(selectedChannel[selectedThreadID]['data']['answerFrom'][i])" alt=""></div>
            <div class="message-chat-history" *ngIf="selectedChannel[selectedThreadID]['data']['answerFrom'][i] != mainboard.loggedInUserName">
                <div class="headline-message-history">
                    <h3>{{selectedChannel[selectedThreadID]['data']['answerFrom'][i]}}</h3>
                    <p>{{selectedChannel[selectedThreadID]['data']['answerTime'][i]}} Uhr</p>
                </div>
                <div class="message-history">{{answerTextMessage}}</div>
            </div>
        </div>

        <div class="my-message-chat">
            <div class="my-message-chat-history" *ngIf="selectedChannel[selectedThreadID]['data']['answerFrom'][i] == mainboard.loggedInUserName">
                <div class="my-headline-message-history">
                    <h3>{{selectedChannel[selectedThreadID]['data']['answerFrom'][i]}}</h3>
                    <p>{{selectedChannel[selectedThreadID]['data']['answerTime'][i]}} Uhr</p>
                
                </div>
                <div class="my-message-history">{{answerTextMessage}}</div>
            </div>
            <div *ngIf="selectedChannel[selectedThreadID]['data']['answerFrom'][i] == mainboard.loggedInUserName" class="padding-thread-avatar"><img [src]="getImgFromAnswerUser(selectedChannel[selectedThreadID]['data']['answerFrom'][i])" alt=""></div>
        </div>
        </div>


    </div>


    <div class="chat-message-inputfield">
        <input type="text" placeholder="Antworten..." #inputfieldValue>
        <div class="chat-message-options">
            <span>
                <span><app-emoji-picker-thread></app-emoji-picker-thread></span>
           
            </span>
            <span class="sendButtonImg">
                <img  src="/assets/img/mainboard/send.png" alt="" (click)="addCommentInThread()">
            </span>

        </div>

    </div>

</div>