
    <div class="content">
        <button (click)="hideEditChannel($event)" class="cancel-btn"><img src="/assets/img/create-channel/close.png" alt=""></button>
        <h2># Entwicklerteam</h2>
        <div class="content-div">
            <div class="upper-content">
                <h3>Channel-Name</h3>
                <button>Bearbeiten</button>
            </div>
            <div class="lower-content">
                <p><b>#</b> Entwicklerteam</p>
            </div>

        </div>
        <div class="content-div">
            <div>
                <div class="upper-content">
                    <h3>Beschreibung</h3>
                    <button>Bearbeiten</button>
                </div>
                <p>Dieser Channel ist für alles rund um #Entwicklerteam vorgesehen.Hier kannst du zusammen mit deinem
                    Team
                    Meeetings abhalten, Dokumente teilen und Entscheidungen treffen.</p>
            </div>

            <div class="seperator"></div>

            <div class="lower-content">
                <h3>Erstellt von</h3>
                <p class="creator">Noah Braun</p>
            </div>

        </div>

        <div class="button-div"><button>Channel verlassen</button></div>
    </div>
