
    <div class="content">
        <button (click)="hideEditChannel($event)" class="cancel-btn"><img src="/assets/img/create-channel/close.png" alt=""></button>
        <h2># {{selectedChannelTitle}}</h2>
        <div class="content-div">
            <div class="upper-content">
                <h3>Channel-Name</h3>
                <button (click)="toggleChangeChannelName(); getCorrectChannelID()" *ngIf="!changeChannelName">Bearbeiten</button>
                <button (click)="choosenNewChannelName()" *ngIf="changeChannelName">Speichern</button>
            </div>
            <div class="lower-content">
                <p *ngIf="!changeChannelName">#{{selectedChannelTitle}}</p>
                <input #newChannelName *ngIf="changeChannelName" type="text" placeholder="Ändere den Namen des Channels..." value="{{selectedChannelTitle}}">
                <p *ngIf="errormessage" class="error-message">Bitte geben Sie einen Namen für den Channel ein.</p>
            </div>

        </div>
        <div class="content-div">
            <div>
                <div class="upper-content">
                    <h3>Beschreibung</h3>
                    <button (click)="toggleChangeChannelDescription(); getCorrectChannelID()" *ngIf="!changeChannelDescription">Bearbeiten</button>
                    <button (click)="choosenNewChannelDesription(); toggleChangeChannelDescription()" *ngIf="changeChannelDescription">Speichern</button>
                </div>
                <p *ngIf="!changeChannelDescription">{{selectedChannelDescription}}</p>
                <textarea #newChannelDescription class="textarea" *ngIf="changeChannelDescription" rows="5">{{selectedChannelDescription}}</textarea>
            </div>

            <div class="seperator"></div>

            <div class="lower-content">
                <h3>Erstellt von</h3>
                <p class="creator">{{selectedChannelCreated}}</p>
            </div>

        </div>

        <div class="button-div"><button (click)="leaveChannel()">Channel verlassen</button></div>
    </div>
