<div class="menu" >
    <div class="channel-name-container"><img src="./assets/img/mainboard/channelname.png" alt="ChannelNameIMG">
        <p>Code learning</p><img src="./assets/img/mainboard/edit.png" alt="edit">
    </div>
    <div class="channels-container">
        <section class="channels-content">
            <div><span class="hover-menu"><img src="/assets/img/mainboard/arrow_drop_down.png" alt="arrow-down"><span
                        class="gap10"><img src="/assets/img/mainboard/workspaces.png" alt="">
                        <p>Channels</p>
                    </span>
                </span ><img (click)="openCreateChannelPopUp()" class="add-symbol" src="/assets/img/mainboard/add.png" alt="add">
            </div>
            <div class="list">
                <li *ngFor="let channel of channelsArray"><p>#</p><p>{{channel}}</p></li>
            </div>
            <li class="add-channel" (click)="openCreateChannelPopUp()"><img src="/assets/img/mainboard/add_circle.png" alt="add">Channel hinzufügen
            </li>
        </section>
    </div>
    
    <div class="directmessages-container"></div>

    <section class="contacts-content">
        <div class="hover-menu"><span><img src="/assets/img/mainboard/arrow_drop_down.png" alt="arrow-down"><span
                    class="gap10"><img src="/assets/img/mainboard/account_circle.png" alt="">
                    <p>Direktnachrichten</p>
                </span>
            </span></div>
        <div class="contact-list">
            <li><img src="/assets/img/signup/avatar2.png" alt="add">{{loggedInUserName}} (Du)</li>
            <li *ngFor = "let user of userArray"><img src="{{user.img}}" alt="add">{{user.username}}</li>
          
        </div>
    </section>
</div>

<div *ngIf="toggleCreateChannel"><app-create-channel></app-create-channel></div>

