<div class="container">
    <div class="headline">
        <span><img src="./assets/img/login/logo.png" alt="logo">
            <p>DABubble</p>
        </span>
    </div>

    <div class="signup-container">
        <img src="./assets/img/signup/arrow_back.png" alt="" class="arrow">
        <div class="headline-container">
            <h1>Passwort zurücksetzen</h1>
        </div>
        <div class="inputfields-container">
            <input class="email-input" type="password" placeholder="Neues Passwort">
            <input class="email-input" type="password" placeholder="Neues Kennwort bestätigen">
        </div>
        <div class="btn-container">
            <button>Passwort ändern</button>
        </div>
    </div>
    <div class="footer"><a href="">Impressum</a><a href="">Datenschutz</a></div>
</div>
