
.headline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;

    span {
        padding: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    :first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        :nth-child(2) {
            font-size: 24px;
            font-weight: 800;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    background-color: #FFFFFF;
    padding: 0px 32px;
    height: 400px;
    width: 450px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    gap: 24px;

    h1{
        color: #444DF2;
        font-weight: 700;
    }

    div{
        width: 100%;
    }

    h3{
        padding-top: 8px;
    }

    @media(max-width: 520px){
        width: 245px;
    }

 
}

.headline-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      
        padding-left: 24px;
        width: 24px;
        height: 24px;
        cursor: pointer;

        &:hover {
            filter: invert(54%) sepia(48%) saturate(4557%) hue-rotate(215deg) brightness(102%) contrast(91%);
            transform: scale(1.2);
        }
    }
}

