<div class="chat-headline-container">
    <span class="headline-left-span">
        <img class="imgHeadline" src="{{mainboard.selectedUserDirectMessageImage}}" alt="">
        <p>{{mainboard.selectedUserDirectMessageName}}</p>
    </span>
</div>
<div class="chat-content">   
    <div *ngFor="let content of mainboard.messageFromArray; let i = index">
        <div class="chat-seperator-with-date" *ngIf="mainboard.messageFromArray.length >= 1">
            <span class="seperator-chat"></span>
            <span class="date-chat">{{ mainboard.messageTimeArray[i].toDate() | date:'longDate' }}</span>
            <span class="seperator-chat"></span>
        </div>
        <div class="my-message-chat" *ngIf="content == mainboard.loggedInUserName && mainboard.messageFromArray.length >= 1">
            <div class="my-message-chat-history">
                <div class="my-headline-message-history">
                    <h3>{{content}}</h3>
                    <p> {{mainboard.messageTimeArray[i].toDate() | date:'HH:mm' }} Uhr</p>
                </div>
                <div class="my-message-history">{{mainboard.messageTextArray[i]}}
                    
                </div>
            </div>
            <div class="my-avatar-chat-history"><img [src]="mainboard.loggedInUserImg" alt=""></div>
        </div>

        <div style="display: flex;" *ngIf="content != mainboard.loggedInUserName && mainboard.messageFromArray.length >= 1">
            <div class="avatar-chat-history"><img [src]="mainboard.getImgFromAnswerUser(content)" alt=""></div>
            <div class="message-chat-history">
                <div class="headline-message-history">
                    <h3>{{content}}</h3>
                    <p> {{mainboard.messageTimeArray[i].toDate() | date:'HH:mm' }} Uhr</p>
                </div>
                <div class="message-history">{{mainboard.messageTextArray[i]}}          
                </div>
            </div>
        </div>

    </div>
</div>

<div class="directMessageContent" *ngIf="mainboard.messageFromArray.length < 1">
    <div class="directMessageContact">
        <img class="imgChat" src="{{mainboard.selectedUserDirectMessageImage}}" alt="">
        <p>{{mainboard.selectedUserDirectMessageName}}</p>
    </div>
    <p class="description">Diese Unterhaltung findet nur zwischen <b class="colorblue">@{{mainboard.selectedUserDirectMessageName}}</b>
        und dir statt.</p>
</div>

<div class="display-Members" *ngIf="mainboard.displayMembers">
    <div *ngFor="let user of mainboard.userArray; let i = index" (click)="mainboard.selectedNameIntoInputfield(user.username)">
        <img src="{{user.img}}" alt="add">
        <p>{{user.username}}</p>
    </div>
</div>
<div class="chat-message-inputfield">
    <input type="text" placeholder="Nachricht an #{{mainboard.selectedUserDirectMessageName}}" #newCommentValue>

    <div class="chat-message-options">
        <span class="imgHoverInput">
            <div>
                <input type="file" class="inputImgUpload" #mainboard.fileInput (change)="mainboard.uploadImg($event)">
                <img src="/assets/img/mainboard/add_plus.png" alt="" (click)="mainboard.triggerFileInput()">
            </div>
            <span class="seperator-send-message"></span>
            <img src="/assets/img/mainboard/smile_add_message.png" alt="">
           
        </span>
        <span class="sendButtonImg">
            <img (click)="newCommentInSelectedPrivateChannel()" src="/assets/img/mainboard/send.png" alt="">
        </span>
    </div>
</div>